---
layout: base
permalink: /
---

<header>
  <div class="block b-head p-b p-t-0">
    <div class="container m-t-0">
      <div class="row">
        <div class="col-sm-6">
          <img src="images/logo.svg" width="70" alt="logo" class="pull-left m-t m-r">
          <small class="pull-left p-t-md">Приводим клиентов<br>для турфирм СНГ</small>
        </div>
        <div class="col-sm-6">
          <h3 class="pull-right m-t-md">{{ site.company.phone }}</h3>
        </div>
      </div>
    </div>

    <div class="container m-y-lg">
      <div class="row m-t-md">
        <div class="col-md-8">
          <p>Предложение для владельцев туристических компаний</p>
          <h1 class="m-y b-head__title">Приведем клиентов для<br>вашей турфирмы за&nbsp;процент<br>от&nbsp;прибыли</h1>
          <p class="lead">До&nbsp;300 заявок ежемесячно. Оплата&nbsp;&mdash; 30%<br>от&nbsp;прибыли, полученной с&nbsp;каждого заказа</p>
          <button type="button" data-toggle="modal" data-target="#modal" class="btn btn-primary btn-lg m-t">Записаться на&nbsp;интервью</button> 
        </div>
      </div>
    </div>
  </div> <!-- /.b-head -->
</header>


<div class="block b-what p-y-md">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="b-what__title m-b-lg">Получайте качественные<br>лиды в&nbsp;несезон</h2>
        <p>Лид&nbsp;&mdash; это горячий клиент, который готов покупать. Мы&nbsp;можем приводить до&nbsp;300 лидов в&nbsp;месяц, вам останется только продавать.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="b-what__item m-y-lg">
          <h5>Клиенты в&nbsp;несезон</h5>
          <p>Обычная ситуация на&nbsp;нашем рынке: летом зарабатываем, с&nbsp;ноября до&nbsp;марта&nbsp;&mdash; ждем клиентов и&nbsp;денег. Мы&nbsp;можем передавать до&nbsp;300 качественных лидов в&nbsp;месяц, и&nbsp;закрыть вашу проблему с&nbsp;клиентами в&nbsp;несезон.</p>
        </div>
        <div class="b-what__item m-y-lg">
          <h5>Не&nbsp;нужно бороться за&nbsp;клиента, предлагая бонусы</h5>
          <p>Если человек оставил заявку на&nbsp;агрегаторе туров, её&nbsp;получают сразу 3&ndash;4&nbsp;агентства. Дальше идет борьба: кто предложит бонус жирнее, к&nbsp;тому клиент и&nbsp;пойдет.<br>Это не&nbsp;выгодно. Мы&nbsp;отправляем заявку только в&nbsp;одну турфирму, чтобы не&nbsp;приходилось терять прибыль.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="b-what__item m-y-lg">
          <h5>Клиенты, которые не&nbsp;ищут только горящие туры и&nbsp;не&nbsp;просят скидки</h5>
          <p>Вы&nbsp;будете получать до&nbsp;60% заявок от&nbsp;клиентов, которые готовы платить за&nbsp;качественный отдых. Они не&nbsp;станут выбивать скидки и&nbsp;искать горящие путевки.</p>
        </div>
        <div class="b-what__item m-y-lg">
          <div class="b-what__quote lead p-a">
            <p>Мы&nbsp;заинтересованы, чтобы вы&nbsp;получали горячие заявки и&nbsp;получали в&nbsp;5&nbsp;раз больше прибыли, чем сейчас, поскольку сотрудничаем за&nbsp;процент от&nbsp;прибыли</p>
          </div>
        </div>
      </div> 
    </div> 
  </div>
</div> <!-- /.b-what -->


<div class="block b-decision p-y-md">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="b-decision__title m-b-md">Партнерство для вас, если отдел<br>продаж закрывает больше 2<br>клиентов из&nbsp;10</h2>
        <p>Чтобы партнерство получилось выгодным,<br>должны совпасть 3&nbsp;условия</p>
      </div>
    </div>
    <div class="row m-t-lg">
      <div class="col-md-4">
        <div class="b-decision__item p-l">
          <div class="b-decision__number m-b">15%</div>
          <p>Конверсия вашего<br>отдела продаж должна<br>быть выше 15%</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="b-decision__item p-l">
          <div class="b-decision__number m-b">&gt;5&nbsp;000</div>
          <p>Прибыль от&nbsp;5&nbsp;000<br>с&nbsp;клиента</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="b-decision__item p-l">
          <div class="b-decision__number m-b">&gt;2</div>
          <p>Вы&nbsp;сможете обрабатывать<br>в&nbsp;2&nbsp;раза больше клиентов,<br>чем сейчас</p>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /.b-decision -->


<div class="block b-price p-y-md">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="b-price__title m-b-0">Условия сотрудничества:</h2>
        <h3 class="b-price__subtitle m-y-0 m-b-md">30% от&nbsp;прибыли плюс рекламный<br>бюджет</h3>
        <p class="lead">Стоимость услуги&nbsp;&mdash; 30% от&nbsp;прибыли, полученной с&nbsp;каждого заказа. Плюс рекламный бюджет&nbsp;&mdash; не&nbsp;меньше 30&nbsp;000&nbsp;в месяц. За&nbsp;эти деньги вы&nbsp;получите от&nbsp;150 до&nbsp;300 потенциальных клиентов в&nbsp;месяц.</p>
      </div>
    </div>
  </div>
</div> <!-- /.b-price -->


<div class="block b-work p-y-md">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="b-work__title">Всю работу по&nbsp;продвижению<br>мы&nbsp;берем на&nbsp;себя</h2>
        <p class="lead">Вы&nbsp;не&nbsp;платите ни&nbsp;за&nbsp;сайты, ни&nbsp;за&nbsp;настройку рекламы</p>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <ul class="b-work__list">
          <li>Мы&nbsp;внедряем CRM, чтобы сократить потери клиентов до&nbsp;30% и&nbsp;отслеживать продажи</li>
          <li>Делаем сайты с&nbsp;высокой конверсией</li>
          <li>Настраиваем Яндекс.Директ, Эдвордс, рекламу в&nbsp;Вконтакте, в&nbsp;Инстаграмме и&nbsp;Фэйсбуке...</li>
          <li>Ведем аккаунты в&nbsp;социальных сетях, наполняем их&nbsp;продающим контентом</li>
          <li>Запускаем емайл-маркетинг</li>
        </ul>
      </div>
    </div>
  </div>
</div> <!-- /.b-work -->


<div class="block b-result p-y-md">
  <div class="container">
    <h2 class="b-result__title m-b-md">Результаты работы</h2>
    <div class="row">
      <div class="col-md-6">
        <p class="lead b-result__subtitle">+172&nbsp;400 за&nbsp;месяц</p>
        <p class="m-y"><strong>Компания:</strong> ДМ-тур Екатеринбург</p>
        <p class="m-b-0"><strong>Что сделали:</strong></p>
        <ul class="b-result__list">
          <li>Наполняли продающим контентом Инстаграмм</li>
          <li>Привлекли 2&nbsp;811 целевых подписчиков за&nbsp;месяц</li>
          <li>Запустили рекламу в&nbsp;пабликах</li>
        </ul>
        <p class="m-y"><strong>Результат:</strong> +172&nbsp;400 прибыли за&nbsp;1&nbsp;месяц только на&nbsp;Инстаграмм</p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <img src="/images/instashot.jpg" alt="screenshot" class="b-result__image">
      </div>
    </div>
  </div>
</div> <!-- /.b-result -->


<div class="block b-promo p-y-md">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="b-promo__title m-b-lg">Если хотите стать партнером, запишитесь на&nbsp;интервью</h2>
      </div>
    </div>
    <div class="b-promo__box shadow well p-a-md">
      <div class="row">
        <div class="col-md-5">
          <p class="m-b">На&nbsp;один город мы&nbsp;берем максимум 2&nbsp;партнеров и&nbsp;с&nbsp;каждым проводим интервью, чтобы понять, будет&nbsp;ли выгодно наше сотрудничество.</p>
          <p>Если после разговора мы&nbsp;поймем, что для вас услуга не&nbsp;выгодна, то&nbsp;прямо об&nbsp;этом скажем.</p>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <p>Чтобы записаться на&nbsp;интервью, заполните форму</p>
          {% include form.html %}
        </div>
      </div>
    </div>
  </div>
</div> <!-- /.b-promo -->


<div class="block b-scheme p-y-md">
  <div class="container">
    <h2 class="b-scheme__title">Работа проходит в&nbsp;3&nbsp;этапа</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="b-scheme__item m-t-md p-l-lg">
          <div class="b-scheme__number">1</div>
          <p>Если на&nbsp;интервью мы&nbsp;увидели, что сотрудничество получится взаимовыгодным, подписываем договор</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="b-scheme__item m-t-md p-l-lg">
          <div class="b-scheme__number">2</div>
          <p>Бесплатно внедряем CRM. Создаем сайты с&nbsp;вашим логотипом, ведем аккаунты в&nbsp;социальных сетях под вашим брендом, настраиваем рекламу</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="b-scheme__item m-t-md p-l-lg">
          <div class="b-scheme__number">3</div>
          <p>Клиенты звонят по&nbsp;вашим номерам, вы&nbsp;предоставляете хороший сервис и&nbsp;закрываете их&nbsp;на&nbsp;покупку. Отслеживать звонки и&nbsp;сделки будем через колл-треккинг и&nbsp;CRM</p>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /.b-scheme -->


<div class="block b-mentor">
  <div class="container">
    <h2 class="b-mentor__title m-b-lg">Мы&nbsp;знаем туристическую кухню изнутри</h2>
    <div class="row">
      <div class="col-md-5 text-center">
        <img src="/images/eugene.jpg" alt="photo" class="b-mentor__image shadow">
        <p class="m-b-md m-t">Евгений Понятов&nbsp;&mdash; руководитель</p>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <p class="m-b">3&nbsp;года руководил туристическим бизнесом и&nbsp;знает всю кухню изнутри. На&nbsp;своей туристической компании испытал все рекламные каналы. Понимает, какой канал приносит больше прибыли. Последний год занимается маркетингом для туристических компаний.</p>
        <p>Также в&nbsp;нашей команде:</p>
        <ul class="b-mentor__list">
          <li>бренд менеджеры в&nbsp;социальных сетях</li>
          <li>директолог, таргетолог во&nbsp;ВКонтакте, Фейсбуке и&nbsp;Инстаграм</li>
          <li>верстальщик и&nbsp;програмист</li>
          <li>дизайнер и&nbsp;копирайтер</li>
        </ul>
      </div>
    </div>
  </div>
</div> <!-- /.b-mentor -->


<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">Обсудить сотрудничество по&nbsp;привлечению клиентов в турфирму</h4>
      </div>
      <div class="modal-body">
        {% include form.html %}
      </div>
    </div>
  </div>
</div>


<footer>
  <div class="block b-footer m-t-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>{{ site.company.phone }}</p>
          <p>{{ site.company.email }}</p>
        </div>
        <div class="col-md-4 m-b">
          <div id="vk_groups"></div>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <p>{{ site.company.name }}, <nobr>г. {{ site.company.city }},</nobr> <nobr>{{ site.company.street }}</nobr></p>
          <p><a href="http://soedinennost.com/privacy">Политика конфиденциальности</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>


<script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>

<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", {{ site.vk_group_id }}, {});
</script>

<!-- VK Widget -->
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 1, width: "auto"}, {{ site.vk_group_id }});
</script>
