<form method="post" class="b-promo__form" action="http://bot.nickvorobiov.com/amo-order.php" data-toggle="validator">
  <input type="hidden" name="redirect" value="http://tur.im/ok/" />
  <div class="help-block with-errors"></div>
  <div class="form-group">
    <label for="input-name" class="control-label">Ваше имя:</label>
    <input id="input-name" required="required" name="name" type="text" class="form-control" placeholder="Иван Иванов">
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label for="input-company" class="control-label">Название вашей компании:</label>
    <input id="input-company" required="required" name="company" type="text" class="form-control" placeholder="ООО Туризм">
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label for="input-city" class="control-label">Город:</label>
    <input id="input-city" required="required" name="city" type="text" class="form-control" placeholder="Санкт-Петербург">
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label for="input-phone" class="control-label">Телефон:</label>
    <input id="input-phone" required="required" name="phone" type="text" class="form-control" placeholder="+7 921 765-43-21">
    <div class="help-block with-errors"></div>
  </div>
  <button type="submit" class="btn btn-primary btn-block b-promo__button">Записаться</button>
</form>