@import 'bootstrap-variables';

body {
  font-size: 18px;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;

  @media (max-width: $screen-xs-max) {
    h1 {
      font-size: 24px;
    }
    .p-x-lg {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1,.h1 {
  font-size: 42px;
}
h2,.h2 {
  font-size: 36px;
}
h3,.h3 {
  font-size: 30px;
}
h4,.h4 {
  font-size: 24px;
}
h5,.h5 {
  font-size: 18px;
}
h6,.h6 {
  font-size: 14px;
}

@media (max-width: $screen-xs-max) {
  h1,.h1 {
    font-size: 36px;
  }
  h2,.h2 {
    font-size: 30px;
  }
  h3,.h3 {
    font-size: 24px;
  }
}

.b-odd, .b-footer {
  background-color: #efefef;
}

.btn {
  white-space: normal;
}

.shadow {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.frame {
  border: solid #ccc 5px;
}

.form-well {
  background: white;
  padding: 20px;
}
